<div class='form-main'>
  <div class='form-wrapper'>
    <h1>編集</h1>
    
    <div class='form-wrapper__inner'>
      <%= render partial: 'form', locals: {url: post_path(@post.id), method: :patch} %>
    </div>
  </div>
</div>