<div class='main'>
  <div class='wrapper'>
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting__link %>
      </div>
    <% end %>

    <!-->
    <h3>人気のタグ</h3>
    <div class='popular__tags'>
    </div>
    -->

    <h3>みんなの投稿</h3>
    <div class='card__wrapper'>
      <%= render partial: 'post', collection: @posts %>
    </div>
    
  </div>
</div>