/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.header {
  background-color: #d6e9ca;
  margin-bottom: 20px;
  padding: 20px 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.nav__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #6b9963;
  text-decoration: none;
  user-select: none;
  border: 1px #6b9963 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover {
  color: #fff;
  background: #6b9963;
}

.nav__logout {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #6b9963;
  text-decoration: none;
  user-select: none;
  border: 1px #6b9963 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__logout:hover {
  opacity: 0.5;
  color: #fff;
  background: #6b9963;
}


/* 会員登録ページ、ログインページ、投稿ページ、編集ページ */
.form-main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.form-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 800px;
  position: relative;
}

.form-wrapper h1 {
  text-align: center;
  padding-bottom: 20px;
}

.form-wrapper__inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 600px;
  padding-top: 20px;
}

.field {
  width: 100%;
  margin-bottom: 10px;
}

.field_input input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  border: #6b9963 solid 1px;
}

.field_input textarea {
  width: 100%;
  height: 65px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  border: #6b9963 solid 1px;
}

.form__btn{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #6b9963;
  border: 1px #6b9963 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


/* トップページ */
.main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 1200px;
}

.greeting{
  margin-bottom: 40px;
}

.greeting__link{
  text-decoration: underline;
  letter-spacing: 1px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin: 15px;
}

.card__top {
  padding: 5px;
  border: #6b9963 solid 1px;
}

.card__img {
  width: 255px;
  height: 255px;
  object-fit: cover;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 0 20px;
  line-height: 30px;
  border-left: #6b9963 solid 1px;
  border-right: #6b9963 solid 1px;
  border-bottom: #6b9963 solid 1px;
}

.card__bottom__left {
  width: 50%;
  border-right: #6b9963 solid 1px;
}

.card__bottom__right {
  width: 50%;
  text-align: right;
}


/* 詳細ページ */
.post__main {
  width: 100vw;
  height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.post__wrapper__left {
  width: 60%;
  position: relative;
}

.post__image {
  height: 500px;
  background-color: #efefef;
}

.post__img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; 
  height: 500px;
}

.post__content {
  padding: 20px;
  border-bottom: #6b9963 solid 1px;
}

.post__content__top {
  display: flex;
  justify-content: flex-start;
}

.post__user__nickname {
  margin-right: 20px;
  padding-top: 10px;
}

.post__date {
  font-size: 12px;
  color: #767c6b;
  padding-top: 15px;
}

.post__content__bottom {
  padding-top: 20px;
}

.post__wrapper__right {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.post__user__box {
  padding-left: 40px;
}

.post__user__box__top {
  display: flex;
  justify-content: flex-start;
}

.post__user__profile {
  padding: 20px 0;
  letter-spacing: 1px;
}

.edit__delete {
  margin-top: auto;
  display:flex;
  justify-content: space-between;
  padding: 0 40px;
}

.edit__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background-color: #6b9963;
  border: 1px #6b9963 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.delete__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background-color: #a1c3cc;
  border: 1px #a1c3cc solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.edit__delete p {
  padding-top: 5px;
  font-size: 14px;
}

/* ユーザーアイコン */
.small_icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/* コメント */
.post__comments {
  width: 100%;
}

.comment_field {
  width: 100%;
}

.form__comment {
  width: 100%;
  margin-top: 30px;
  padding: 15px 20px;
  background-color: #efefef;
  border-radius: 3px;
  border: #999999 solid 1px;
}

.form__comment textarea {
  font-size: 16px;
  letter-spacing: 1px;
}

.comment__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background-color: #6b9963;
  border: 1px #6b9963 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.comment__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}